<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431702250145-qtlm39ujun8t89091pmc8afkqo73kdv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431702250145-qtlm39ujun8t89091pmc8afkqo73kdv5</string>
	<key>API_KEY</key>
	<string>AIzaSyBjGgrrj--PZ1iwtwAst9kCyyWOw0aW9FI</string>
	<key>GCM_SENDER_ID</key>
	<string>431702250145</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>haziq.Aero</string>
	<key>PROJECT_ID</key>
	<string>aero-dev-a9b3a</string>
	<key>STORAGE_BUCKET</key>
	<string>aero-dev-a9b3a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431702250145:ios:b46fa49ace18619d8cd6e0</string>
</dict>
</plist>